<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<!-- per indicare che una determinata stringa deve essere tradotta utilizzo l'attributo i18n -->
<!-- internalizzation -->
<!-- devo runnare il comando cli ng extract-i18n, mi creerà un file messages.xlf nella root dell'app -->
<button (click)="editCategory()" i18n>Edit category</button>

<!-- aggiungo un'altra stringa da internazionalizzare, quindi sempre con attributo i18n -->
<!-- per averla nel file messages.xlf devo rieseguire il comando per l'estrazione ng extract-i18n -->
<!-- le stringhe nel file sono contraddistinte da un id univoco, se cambio la stringa qui devo rirunnare il comando di estrazione e se la stringa è cambiata verrà generato un nuovo id -->
<h4 i18n>Welcome to the angular core deep dive course</h4>

<div>
  <h1>Corsi tramite variabile coursesDaFile ed alias courses</h1>
  <div class="courses" *ngIf="coursesDaFile as courses">
    <!-- CUSTOM PIPE per creare un custom pipe devo creare un file con estensione pipe.ts -->
    <!-- creo un file chiamato filter-by-category.pipe.ts in courses -->
    <!-- il pipe filterByCategory viene applicato direttamente al ciclo for e gli viene passato il nome della category che voglio visualizzare -->
    <!-- il pipe restituisce un array di corsi contenenti solo quelli con la categoria beginner (la categoria la posso cambiare) e il titolo del corso in uppercase -->
    <course-card
      [highlighted]
      *ngFor="let course of courses | filterByCategory : 'BEGINNER'"
      [course]="course"
      (courseChanged)="onCourseChanged($event)"
    >
      <course-image [src]="course.iconUrl"></course-image>
    </course-card>
  </div>
</div>
