<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<!-- per indicare che una determinata stringa deve essere tradotta utilizzo l'attributo i18n -->
<!-- internalizzation -->
<!-- devo runnare il comando cli ng extract-i18n, mi creerà un file messages.xlf nella root dell'app -->
<button (click)="editCategory()" i18n>Edit category</button>

<!-- aggiungo un'altra stringa da internazionalizzare, quindi sempre con attributo i18n -->
<!-- per averla nel file messages.xlf devo rieseguire il comando per l'estrazione ng extract-i18n -->
<!-- le stringhe nel file sono contraddistinte da un id univoco, se cambio la stringa qui devo rirunnare il comando di estrazione e se la stringa è cambiata verrà generato un nuovo id -->
<!-- nell'attributo i18n possiamo passare alcune informazioni relative alla stringa, ad esempio un meaning ed una description, separandole con il pipe -->
<!-- ad esempio questa stringa è un messaggio di benvenuto, saluto lo user con un saluto relativo al corso  -->
<!-- queste info le ritrovo nel file messages.xlf -->
<!-- lo unique id viene rigenerato solo se cambio il contenuto della stringa o il meaning, non se cambio la description -->
<!-- posso generare manulamente un id, aggiungendo alla fine delle info passate all'attributo @@welcomeMessage -->
<!-- in questo modo l'id della stringa nel file messages.xlf sarà welcomeMessage -->
<h4
  i18n="
    Welcome message | Greet the user a greeting at the beginning of the
    course@@welcomeMessage"
>
  Welcome to the angular core deep dive course
</h4>

<!-- utilizzo la proprietà coursesTotal per creare una pluralizzazione a seconda del messaggio da mostrare -->
<!-- rirunnando il comando ng extract-i18n avrò un id per tutto lo statement coi vari casi-->
<div i18n>
  { coursesTotal, plural, =0 {No courses available.} =1 {One course is
  available.} other {A total of {{ coursesTotal }} courses are available} }
</div>

<div>
  <h1>Corsi tramite variabile coursesDaFile ed alias courses</h1>
  <div class="courses" *ngIf="coursesDaFile as courses">
    <!-- CUSTOM PIPE per creare un custom pipe devo creare un file con estensione pipe.ts -->
    <!-- creo un file chiamato filter-by-category.pipe.ts in courses -->
    <!-- il pipe filterByCategory viene applicato direttamente al ciclo for e gli viene passato il nome della category che voglio visualizzare -->
    <!-- il pipe restituisce un array di corsi contenenti solo quelli con la categoria beginner (la categoria la posso cambiare) e il titolo del corso in uppercase -->
    <course-card
      [highlighted]
      *ngFor="let course of courses | filterByCategory : 'BEGINNER'"
      [course]="course"
      (courseChanged)="onCourseChanged($event)"
    >
      <course-image [src]="course.iconUrl"></course-image>
    </course-card>
  </div>
</div>
